page-tour1 {
    .content-ios{
        background: #f59f1e !important;
        color: white;
    }
    .toolbar-title-ios {
        font-size: 1.9rem;
    }

    .content-md{
        background: #f59f1e !important;
        color: white;
    }
    .toolbar-title-md {
        font-size: 1.9rem;
    }
}
