page-reciclador {

    agm-map {
        height: 90%;
        width: 110%;
       /* position:absolute;*/
       position: relative;
        overflow: hidden;
    /* padding-bottom: 0%; */
    margin-top: -35%;
    left: 0%;
    z-index: -1;
    }
    .mapstyle{
        height: 57%;
        margin-left: -6%;
        position: relative;
        z-index: -1;
        margin-top: -49%;
    }

    .delivery-back-button {
        color: #ffffff;
      }

      .firstT{
          padding: 4% 0 0 2%;
      }

    .icon_callStyle{
        width: 39px;
        height: 39px;
        /* background-color: #145575; */
        border: 3px solid white;
        border-radius: 100%;
        padding-left: 0%;
        padding-top: 31%;
        margin-left: 87%;
        margin-top: 10%;
    }
/*
    div{
        position: relative;
        width: 100px;
        height: 100px;
        color:#f4f4f4;
        font-size: 30px;
        //z-index: 10,20,50,100;
    }*/

    .oneD{
               /* position: relative; */
    float: left;
    background-color: #8dc63f;
    width: 160%;
    height: 120%;
    margin-left: -16%;
    margin-top: -40%;
    -webkit-transform: rotate(350deg);
    transform: rotate(343deg);
    z-index: 4;
    /* z-index: 39; */
    /* -webkit-transform: skewY(-19deg); */
    /* transform: skewY(-19deg); */


    }

    .treeD {
        position: absolute;
        background-color: #004361;
        width: 160%;
        height: 10%;
        margin-left: -50%;
        margin-top: 1%;
        -webkit-transform: rotate(350deg);
        transform: rotate(343deg);
        z-index: 0;
    }
    .twoD{
        z-index: 3;
        float: left;
        background-color: #167b9b;
        width: 170%;
        height: 40%;
        transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        margin-top: -4%;
        margin-left: -16%;
        margin-top: -25%;
        /* -webkit-transform: skewY(15deg); */
        /* transform: skewY(15deg); */
        /* margin-top: 0%; */
    }

    .dream{
        height: 20%;
        margin-top: 40%
    }

    .oneD p{
        position: absolute;
        margin-top: 8%;
        margin-left: 15%;
        margin-right: 15%;
        transform: rotate(17deg);
        text-align: center;
        width: 50%;
        font-size: 17px;
    }

    .materialN{
        display: inline-flex;
        flex-wrap: wrap;
        margin-bottom: 0px;
    }

    .materialN ion-item{
        flex: 1 0 33.33%;
    }


    /*.line1{
    	background: aqua;
    	height: 10%;
    	width: 150%;
    	margin-left: -15%;
    	-ms-transform: rotate(20deg); /* IE 9 */
	  /*  -webkit-transform: rotate(20deg); /* Safari */
	  /*  transform: rotate(20deg);
    }

    .line2{
    	background: green;
    	height: 25%;
    	width: 150%;
    	margin-left: -10%;
    	margin-top: -30%;
    	-ms-transform: rotate(350deg); /* IE 9 */
	   /* -webkit-transform: rotate(350deg); /* Safari */
	   /* transform: rotate(350deg);
    }
    */

    list-md {
        margin: 0px 0 0px;
    }

    list-ios {
        margin: 0px 0 0px;
    }

    .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
        border-bottom: 0px;
    }

    .list-ios > .item-block:first-child {
        border-top: 0px;
    }

    .item-ios {

        padding-left: 0px;

    }
    .item-ios [item-left], .item-ios [item-start] {
        margin: 0px 0px 0px 0;
    }

    .label-ios {
        margin: 0px;
    }

    .label-md {
        margin: 0px;
    }

    .item-md [item-left], .item-md [item-right], .item-md [item-start], .item-md [item-end] {
         margin: 0px;
    }

    .item-md p {
        margin: 0 0 0px;
        /* overflow: inherit; */
        font-size: 12px;
        /* line-height: normal; */
        /* text-overflow: inherit; */
        color: #f4f4f4;
    }

    .item-ios p {
        margin: 0 0 0px;
        /* overflow: inherit; */
        font-size: 12px;
        /* line-height: normal; */
        /* text-overflow: inherit; */
        color: #f4f4f4;
    }

    .item-md {
        padding-left: 0px;
        /* padding-right: 0; */
        /* position: relative; */
        /* font-size: 1.6rem; */
        /* font-weight: normal; */
        /* text-transform: none; */
        /* color: #ece3e3; */
        /* background-color: #fff; */
        /* -webkit-box-shadow: none; */
        /* box-shadow: none; */
        /* -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1); */
        /* transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1); */
    }


    .button-md {
        height: 64%;
    }

    .callPhone{
        background: linear-gradient(to left, #39b54a, #8dc63f);
        width: 46%;
         height: 64%;
         margin-left: 50%;
    }

    .notPhone{
        width: 47px;
        height: 47px;
        border: 3px solid #005c80;
        border-radius: 100%;

        //margin-left: 21%;
    }

    .item-md.item-block .item-inner {
        border-bottom: 0px solid;
    }
    .item-ios.item-block .item-inner {
        border-bottom: 0px solid;
    }

    /*    width: 41px;
    height: 41px;
    /* background-color: #145575; */
    //border: 3px solid #488aff;
   // border-radius: 100%;
    /* padding-left: 0%; */
   // padding-top: 17%;
    /* margin-left: 37%; */


    /*page-reciclador .icon_callStyle {
        width: 41px;
        height: 41px;#8dc63f
        /* background-color: #145575; */
        /*border: 3px solid white;
        border-radius: 100%;
        padding-left: 0%;
        padding-top: 26%;
        margin-left: 82%;
    }*/

    .fab-md {
        /* -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1); */
        box-shadow: 0 0px 0px 0 transparent, 0 0px 0px transparent;
    }

    .wordS{
        word-wrap: normal;
    }

    .button-round-ios {
        padding: 0 26px;
        padding-top: 2px;
    }

    .button-ios {
        font-size: 101%;
    }


    .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
         height: 0px;
    }

    .toolbar .toolbar-background {
        background-color: #004361;
    }
    .toolbar-background-md {
        border-color: #004361;
        background: #004361;
    }


}
