<ion-header class="firstT">
	<!--ion-navbar>
	</ion-navbar-->
	<button ngClass="delivery-back-button" ion-button icon-only icon-start clear  (click)="dismiss()">
	  <ion-icon name="arrow-back"></ion-icon>
	</button>
  </ion-header>


<ion-content padding>
		<ion-grid align-items-center >
			<ion-row align-items-center>
				<ion-col col-3 style="padding-left: 4%">
					<!--ion-avatar item-center center >
						<img src="{{recycler.image}}" style="	border-radius: 100px; height: 60px; width: 60px; margin-left: 25%;">
					</ion-avatar-->
					<span>
						<ion-row *ngIf="recycler.image!=undefined; else firstLetter">
							<ion-avatar >
								<img class="recyclers" style="border-radius: 50%;
								height: 63px;
								width: 63px;
								margin-top: 0%;
								" src="{{recycler.image}}" id="{{recycler.id}}">
							</ion-avatar>
						</ion-row>

						<ng-template #firstLetter item-star>
							<ion-avatar>
								<span text-center>
									<p style="background: linear-gradient(to left, #39b54a, #8dc63f);
									border-radius: 50%;
									height: 63px;
									width: 63px;
									padding-top: 27%;
									margin-left: 10%;
									margin-top: 0%;
									font-size: 28px;
									margin-bottom: 0;
									">{{recycler.name.charAt(0).toUpperCase()}}{{recycler.lastName.charAt(0).toUpperCase()}}</p>
									<img class="recyclersPhoto"  id="{{recycler.id}}">
								</span>
							</ion-avatar>
						</ng-template>
					</span>
				</ion-col>
				<ion-col col-9 style="font-size: 24px; padding-left:6%;">{{recycler.name}}<br/>{{recycler.lastName}}</ion-col>

			</ion-row>
			
			<!--ion-row item-end>
				<ion-col offset-6 style=" margin-left: 50%;	padding-left: 5%;">
					<button ion-button round icon-end class="callPhone" *ngIf="(recycler)?.phone; else elseMessage" (click)="doCallNumber(recycler.phone)">
						
							Llamar<ion-icon ios="ios-call" md="md-call"></ion-icon>
					</button>
					<ng-template #elseMessage>
						<ion-grid>
							<ion-row style="margin-left: 5%; margin-right: 9%;">
								<ion-col col-9 item-end style="margin-top: 5%;
								text-align: right;">
									<p>Sin teléfono</p>
								</ion-col>
								<ion-col col-3>             
									<p class="notPhone" color="segment"></p>
								</ion-col>
							</ion-row>
						</ion-grid>
					</ng-template>
				</ion-col>
			</ion-row-->
			<ion-row item-end>
				<ion-col item-end>
					<button ion-button round icon-end item-end style=" width: 46%; height: 53%; margin-left: 50%;" class="callPhone" *ngIf="(recycler)?.phone; else elseMessage" (click)="doCallNumber(recycler.phone)">

						<!--		Llamar

						<ion-icon ios="ios-call" md="md-call" class="icon_callStyle" item-end></ion-icon-->

						<ion-grid>
							<ion-row >
								<ion-col col-6 style="font-size: 111%; padding-left: 0px">
									<p style="padding-left: 0px; padding-right: 5%">Llamar</p>
								</ion-col>
								<ion-col col-6>
									<ion-icon class="icon_callStyle" ios="ios-call" md="md-call"></ion-icon>
								</ion-col>
							</ion-row>
						</ion-grid>
					</button>
					<ng-template #elseMessage>
						<ion-grid>
							<ion-row style="margin-left: 5%">
								<ion-col col-9 item-end style="margin-top: 5%;
								text-align: right;">
									<p>Sin teléfono</p>
								</ion-col>
								<ion-col col-3>
									<p class="notPhone" color="segment"></p>
								</ion-col>
							</ion-row>
						</ion-grid>
					</ng-template>
				</ion-col>
			</ion-row>
			<ion-row style="border-bottom-width: 0px; padding-left: 0%;">
				<ion-item style="background-color: #00435f; padding-left: 0%; border-bottom-width: 0px;">
					<ion-grid style="border-bottom-width: 0px; padding-left: 0%;">
						<ion-row style="border-bottom-width: 0px; padding-left: 0%;">
							<ion-col text-left>
								<p style="color: white; border-bottom: 1px solid #8dc63f; padding-bottom: 0%;">Materiales que recoge</p>
							</ion-col>
						</ion-row>
						<ion-row style="border-bottom: 1px solid #8dc63f; padding-bottom: 0%; padding-left: 0%;">
							<ion-col>
									<ion-list class="materialN">

										<ion-item class="first" *ngFor='let material of recycler.material | slice: 0:3' style="background-color: #00435f;">
											<ion-grid>
												<ion-row align-items-center>
													<ion-col col-4>
														<div *ngIf="material == 'Papel'" style="width: 20px; height: 20px; border-radius: 100%;	background: linear-gradient(to right,#afba35,#ede937);"></div>
														<div *ngIf="material == 'Carton' || material == 'Cartón'" style="width: 20px; height: 20px;	border-radius: 100%; background: linear-gradient(to right,#ede937,#ff8000);"></div>
														<div *ngIf="material == 'Plastico' || material == 'Plástico'" style="width: 20px; height: 20px; border-radius: 100%; background: linear-gradient(to right,#39b54a,#8dc63f);"></div>
														<div *ngIf="material == 'Vidrio'"  style="width: 20px; height: 20px; border-radius: 100%;background: linear-gradient(to right,#00a0dc,#005c80);"></div>
														<div *ngIf="material == 'Metal'" style="width: 20px; height: 20px; border-radius: 100%;	background: linear-gradient(to right,#167b9b,#00a0dc);"></div>												
														<div *ngIf="material == 'Tetrapack'" style="width: 20px; height: 20px; border-radius: 100%; background: linear-gradient(to right,#c81c71,#790042);"></div>
													</ion-col>
													<ion-col col-7>
														<img *ngIf="material == 'Papel'" src="assets/imgs/papelT1.png" style="width:65px; height:63px">
														<img *ngIf="material == 'Carton' || material == 'Cartón'" src="assets/imgs/cartonT.png" style="width: 60px; height: 54px;">
														<img *ngIf="material == 'Plastico' || material == 'Plástico'" src="assets/imgs/plasticoT.png" style="width:74px; height:47px">
														<img *ngIf="material == 'Vidrio'"  src="assets/imgs/vidrioT.png" style="width:83px; height:46px">
														<img *ngIf="material == 'Metal'" src="assets/imgs/metalT.png" style="width:74px; height:49px">
														<img *ngIf="material == 'Tetrapack'" src="assets/imgs/tetrapackT.png" style="width:74px; height:49px">
													</ion-col>
												</ion-row>
											</ion-grid>					
										</ion-item>
										<ion-item class="second" *ngFor='let material of recycler.material | slice: 3:6' style="background-color: #00435f;">
											<ion-grid>
												<ion-row align-items-center>
													<ion-col col-4>
														<div *ngIf="material == 'Papel'" style="width: 20px; height: 20px; border-radius: 100%;	background: linear-gradient(to right,#afba35,#ede937);"></div>
														<div *ngIf="material == 'Carton' || material == 'Cartón'" style="width: 20px; height: 20px;	border-radius: 100%; background: linear-gradient(to right,#ede937,#ff8000);"></div>
														<div *ngIf="material == 'Plastico' || material == 'Plástico'" style="width: 20px; height: 20px; border-radius: 100%; background: linear-gradient(to right,#39b54a,#8dc63f);"></div>
														<div *ngIf="material == 'Vidrio'"  style="width: 20px; height: 20px; border-radius: 100%;background: linear-gradient(to right,#00a0dc,#005c80);"></div>
														<div *ngIf="material == 'Metal'" style="width: 20px; height: 20px; border-radius: 100%;	background: linear-gradient(to right,#167b9b,#00a0dc);"></div>												
														<div *ngIf="material == 'Tetrapack'" style="width: 20px; height: 20px; border-radius: 100%; background: linear-gradient(to right,#c81c71,#790042);"></div>
													</ion-col>
													<ion-col col-7>
														<img *ngIf="material == 'Papel'" src="assets/imgs/papelT1.png" style="width:65px; height:63px">
														<img *ngIf="material == 'Carton' || material == 'Cartón'" src="assets/imgs/cartonT.png" style="width: 60px; height: 54px;">
														<img *ngIf="material == 'Plastico' || material == 'Plástico'" src="assets/imgs/plasticoT.png" style="width:74px; height:47px">
														<img *ngIf="material == 'Vidrio'"  src="assets/imgs/vidrioT.png" style="width:83px; height:46px">
														<img *ngIf="material == 'Metal'" src="assets/imgs/metalT.png" style="width:74px; height:49px">
														<img *ngIf="material == 'Tetrapack'" src="assets/imgs/tetrapackT.png" style="width:74px; height:49px">
													</ion-col>
												</ion-row>
											</ion-grid>					
										</ion-item>					    
									</ion-list>
							</ion-col>	
						</ion-row>
					</ion-grid>
				</ion-item>
			</ion-row>
			<ion-row >
				<ion-grid>
					<ion-row style="border-bottom: 1px solid #8dc63f; padding-bottom: 0%;">
						<ion-col col-6>
								<ion-item style="background-color: #00435f; min-height: 0px; "> <!--dias-->
									 <ion-col col-4 item-start>
										<img src="assets/imgs/diasRT.png" style="width:45px; height:45px">
									 </ion-col>
									 <ion-col col-8 text-wrap text-justify>
										<p  text-wrap>{{createrSpace(recycler.date.days)}}</p>
									</ion-col>
								</ion-item>
						</ion-col>
						<ion-col col-6>
							<ion-item style="background-color: #00435f;">
								<ion-col col-4 item-start>
									<img src="assets/imgs/horaF.png" style="width:45px; height:45px">
								</ion-col>
								<ion-col col-8 text-wrap text-justify>
									<p text-wrap text-justify><b>De:</b> {{recycler.date.startTime}}</p>
									<p><b>A:</b> {{recycler.date.endTime}}</p>
								</ion-col>
							</ion-item>
						</ion-col>
					</ion-row>
					<ion-row>
							<ion-col col-6>
									<ion-item style="background-color: #00435f;">
											<ion-col col-4 item-start>
													<img src="assets/imgs/edadT.png" style="width:45px; height:45px">
												</ion-col>
												<ion-col col-8 text-wrap text-justify>
													<p><b>Edad:</b></p>
													<p>{{getAgefromYear(recycler.yearBirth)}} años</p>
												</ion-col>
									</ion-item>
							</ion-col>
							<ion-col col-6>
								<ion-item  style="background-color: #00435f;">
									<ion-col col-4 item-start>
										<img src="assets/imgs/reciFT.png" style="width:45px; height:45px">
									</ion-col>
									<ion-col col-8 text-wrap text-justify >
										<ion-item style="background-color: #00435f; min-height: 0px;">
											<p><b>Recicla por:</b></p>
											<p *ngIf="recycler.recyclingFor">{{getYears(recycler.recyclingFor)}}</p>
											<p *ngIf="!recycler.recyclingFor || !recycler.yearStartRecycling">No registra</p>
										</ion-item>
									</ion-col>
								</ion-item>
							</ion-col>
						</ion-row>
				</ion-grid>
			</ion-row>
		</ion-grid>

		<div class="dream">
			<div class="treeD"></div>
			<div class="twoD"></div>
			<div class="oneD" >
				<p text-wrap *ngIf="recycler.dream" >"{{recycler.dream}}"</p>
			</div>


		</div>
		<div class="mapstyle" >
			<agm-map [latitude]="recycler.latitude" [longitude]="recycler.longitude" [zoomControl]="false" [fullscreenControlOptions]="false" [streetViewControl]="false"	[usePanning]="true" [zoom]="zoomDef">
				<agm-marker [latitude]="recycler.latitude" [longitude]="recycler.longitude"></agm-marker>
			</agm-map>
		</div>

	<ion-card>
	  <ion-fab right top style="margin-top: 6%; padding-right: 9%;">
	    <div *ngIf="siguiendo; else elseBlockFavorite">
			<button (click)="seguir(recycler.id)" ion-fab color="#00435f" style="background-color: #00435f; color: yellow; ">
				<!--ion-icon ios="ios-heart" md="md-heart"></ion-icon-->
				<ion-icon ios="ios-star" md="md-star" style="font-size:46px"></ion-icon>
			</button>
	    </div>
	    <ng-template #elseBlockFavorite>
	    	<button (click)="seguir(recycler.id)" ion-fab color="light" style="color: #f4f4f4; background-color: transparent;">
				<!--ion-icon ios="ios-heart-outline" md="md-heart-outline"></ion-icon-->
				<ion-icon ios="ios-star-outline" md="md-star-outline" style="font-size:46px"></ion-icon>
			</button>
		</ng-template>
		</ion-fab>
	</ion-card>
</ion-content>
