page-modal {
	.modal-page {
        background: rgba(0,0,0,0.5);
    }

    .modalContent-1{
    	margin-top: 40%;
    	background: linear-gradient(to top,#00a0dc,#167b9b);
    }

    .modalContent{
    	margin-top: 40%;
    	background: #00a0dc;
    }

    
}
