<!--
  Generated template for the ModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--ion-header>

  <ion-navbar>
    <ion-title>Pizzeria El Hornero </ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">Cerrar</button>
    </ion-buttons>
  </ion-navbar>
</ion-header-->


<ion-content class="modal-page" (tap)="closeModal()">
  <!--ion-buttons end>
      <button ion-button (click)="closeModal()">Cerrar</button>
    </ion-buttons-->
    <ion-fab right style="top:24.5%;right: -1.5% ! important;">
      <button ion-fab mini style="background-color: transparent !important; box-shadow: none;" color="danger" clear (click)="closeModal()"><ion-icon name="close" ></ion-icon></button>
    </ion-fab>
    <div class="modalContent">
      <div class="modalContent1">
        
        <ion-row>
          <ion-col col-1></ion-col>
          <ion-col col-7>
            <ion-row>
              <ion-col col-2>
                <img style="margin-top: 25px;" src="assets/imgs/heart-reciveci-on.png" class="logo-header" width="26" height="20" />
              </ion-col>  
              <ion-col col>
                <h1 style="margin-bottom: 0px !important" class="text-white">{{objExchange.points}} pts.</h1>
              </ion-col>  
            </ion-row>
            <ion-row>
              <ion-col>
                <h5 class="text-white" style="font-weight: bold; margin: 0px !important" text-wrap>¡{{objExchange.promoTitle}}!</h5>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col col>
              <img style="border-radius: 100%; margin-top: 20px; " src="{{objExchange.logo}}" width="80" height="80">
          </ion-col>  
          <ion-col col-1></ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-1></ion-col>
          <ion-col>
            <p class="text-white" style="margin-bottom: 0px !important;" text-wrap>{{objExchange.promoDetail}}</p>    
          </ion-col>
          <ion-col col-1></ion-col>
        </ion-row>
        <!--Boton/Message-->
        <ion-row>
          <ion-col col-1></ion-col>
          <ion-col col>
            <div text-center *ngIf="usrPoints>=objExchange.points; else insufficientPoints">
              <br>
              <button ion-button color="secondary" round (tap)="exchangeGift(objExchange)">Canjear</button>  
              <br><br>
            </div>
            <ng-template #insufficientPoints>
              <br>
              <h4 class="text-white" style="margin: 0px !important;" text-wrap text-center>¡Necesitas {{objExchange.points - usrPoints}} Recipuntos más, para canjear este premio!</h4>
              <br>
            </ng-template>
          </ion-col>
          <ion-col col-1></ion-col>
        </ion-row>
      </div>
    </div>    

    
    <!--ion-list>
      <Exchange List>
      <ion-item >
        <h2>¡Canjea beneficios cerca de ti!</h2>
      </ion-item>
      <ion-item *ngFor='let partner of partnerList'>
      <h3>{{partner.name}}</h3>
      <ion-avatar item-end>
        <img src="{{partner.logo}}">
      </ion-avatar>
      </ion-item>
    </ion-list-->

</ion-content>
