page-dashboard {

    .centrado{
        text-align: center;
      }

    .iconsize{
        font-size: 50px;
      }
      

    .avatarsize{
        width: 100% !important;  
        height : 100% !important;  
        max-width: 75px !important;  //any size
        max-height: 75px !important; //any size
    }

    .ion-list{
      margin-bottom: 20px !important;
    }

    ion-slides {
      /*height: 170px;
      //padding: 0%;
      position: fixed;
      bottom: 8%;*/
      height: 170px;
      position: fixed;
      bottom: 49px;
  
    }

    .swiper-pagination-bullet-active{
      background: white;
    }

    .image{
      //max-width: 250px !important;
     // max-height: 250px !important;
      border-radius:50%;
    }

    .grid{
      font-size: 12px;
    }

    .icon{
      padding-top: 3%;
    }

    .fab{
      height: 40px;
      width: 40px;
      background: #2C3E50;
    }


    .textTips{
      font-size: 13px;
    }

    /*.textContent{
      color: white;
    }*/
    
    .item-md {
      color: #f3f3f3;
    }
    
    .item-ios {
      color: #f3f3f3;
    }

    .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
      border-bottom: 0px ;
    }

    .list-ios > .item-block:first-child {
      border-top: 0px;
    }
    
    .textBold{
      font-weight: bold;
    }


    .item-md.item-block .item-inner {
      padding-right: 0px;
      border-bottom: 0px solid #dedede;
      color: white;
    }

    .item-md p {
      margin: 10 0 2px;
      color: white;
    }

    .swiper-slide img {
      width: 97%;
    }

    .item-ios.item-block .item-inner {
      border-bottom: 0px;
    }

    .item-ios p {
      color: white;
    }

    .botonE{
      background: linear-gradient(to right,#afba35, #ede937);
		  color: black;
		  font-size:16px;
    }


}
