page-dashboard {

    .centrado{
        text-align: center;
      }

    .iconsize{
        font-size: 50px;
      }
      

    .avatarsize{
        width: 100% !important;  
        height : 100% !important;  
        max-width: 75px !important;  //any size
        max-height: 75px !important; //any size
    }

    .ion-list{
      margin-bottom: 20px !important;
    }

    ion-slides {
      height: 170px;
      //padding: 0%;
    }

    .swiper-pagination-bullet-active{
      background: white;
    }

    .image{
      //max-width: 250px !important;
     // max-height: 250px !important;
      border-radius:50%;
    }

    .grid{
      font-size: 12px;
    }

    .icon{
      padding-top: 3%;
    }

    .fab{
      height: 40px;
      width: 40px;
      background: #2C3E50;
    }


    .textTips{
      font-size: 13px;
    }

    /*.textContent{
      color: white;
    }*/

    .card-md p {
      color: #fff7f7;
   }

   .card-ios p {
    color: #fff7f7;
  }

  .card-md h2 {
    color: #fff;
  }

  .card-ios h2 {
    color: #fff;
  }

  .card-title-md {
  color: #fff;
  }

  .card-title-ios {
    color: #fff;
    }

  .item-md {
    color: #f3f3f3;
  }

  .item-ios {
    color: #f3f3f3;
  }

  .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
     border-bottom: 0px ;
}

.list-ios > .item-block:first-child {
  border-top: 0px;
}

  .textBold{
    font-weight: bold;
  }


}
