page-map {
    agm-map {
        height: 82%;
        width: 100%;
        position:absolute; 
        top:0; 
        bottom:0; 
    }

    .botonR{
        border-radius: 50%;
    }

    .fabButton{
        padding-bottom: 68%;
        position: absolute;
    }

    .fab ion-icon {
        font-size: 45px;
    }

    .segmentText{
        margin-top: 100%;
    }

    ion-fab[middle] {
        margin-top: 10px;
    }

    .grid{
        margin-top: 8%;
        margin-bottom: 8%;
      }

      .item-ios ion-avatar ion-img, .item-ios ion-avatar img {
        border-radius: 50%;
        overflow: hidden;
        width: 62px;
        height: 62px;
      }

      .swiper-pagination-bullet-active{
        background: white;
      }

    .firstLetter{
    	position: absolute;
    	font-size: 25px;
    	margin-top: 12% !important;
    	margin-bottom:0 !important;
    	margin-left: 20% !important;
        color:white;
        text-align: center;
    }

    .item-md ion-avatar img {
        border-radius: 50%;
        overflow: hidden;
        width: 60px;
        height: 60px;
        
    }

    .item-md ion-avatar {
        min-width: 60px;
        min-height: 60px;
        
    }

    .item-ios ion-avatar {
        min-width: 60px;
        min-height: 60px;
    }
    
    .toolbar-md {
        padding: 0px;
        min-height: 0px;
    }
/*
    .toolbar-ios {
        padding: 0px;
        min-height: 0px;
    }
*/
    .icon_callStyle{
        width: 47px;
        height: 47px;
        background-color:  #145575;
        border: 3px solid green;
        border-radius: 100%;
        padding-left: 1%;
 
    }

    .notPhone{
        width: 47px;
        height: 47px;
        background-color:  #145575;
        border: 3px solid #2e8bb9;
        border-radius: 100%;
        padding-left: 1%;
    }

    .item-ios [item-right], .item-ios [item-end] {
        margin: 0px;
    }


    .item-ios.item-block .item-inner {
        
        padding-right: 8px;
        border-bottom: 0px; 
    }


    .item-md.item-block .item-inner {
        
        padding-right: 8px;
        border-bottom: 0px; 
    }

    
    .segment-ios-segment .segment-button.segment-activated {
        color: #61d800;
        background-color: #61d800;
    }

    .segment-ios-segment .segment-button {
        //border-color: #61d800;
        color: #6fb6f5;
    }

    .segment-md-segment .segment-button.segment-activated {
        color: #61d800;
        background-color: #61d800;
    }

    .segment-md-segment .segment-button {
        //border-color: #61d800;
        color: #6fb6f5;
        border-color: #73ff00;
        //opacity: 0;
    }

    .segment-ios .segment-button:first-of-type {
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-bottom-left-radius: 0px;
    }

    .segment-ios .segment-button:last-of-type {
        
        border-bottom-right-radius: 0px; 
        border-right: 0px;
        border-top: 0px;
    }

    .toolbar-ios .segment-button {
        max-width: 184px;
        height: 37px;
        font-size: 16px;
    }

    /*page-map .segmentText {
        margin-top: 118%;
    }*/
    
    .alert-md .alert-wrapper {
        
        background-color: #005c7e;
    }

    .swiper-container-horizontal > .swiper-pagination-bullets  {
        bottom: 0px;
    }

    .swiper-slide {
        height: 90px !important;
    }

}
