page-map {
    agm-map {
        height: 82%;
        width: 100%;
        position:absolute; 
        top:0; 
        bottom:0; 
    }

    .botonR{
        border-radius: 50%;
    }

    .fabButton{
        padding-bottom: 68%;
        position: absolute;
    }

    .segmentText{
        margin-top: 100%;
    }

    ion-fab[middle] {
        margin-top: 10px;
    }

    .grid{
        margin-top: 8%;
        margin-bottom: 8%;
      }

      .item-ios ion-avatar ion-img, .item-ios ion-avatar img {
        border-radius: 50%;
        overflow: hidden;
        width: 62px;
        height: 62px;
      }

      .swiper-pagination-bullet-active{
        background: white;
      }
}
