page-map {
    agm-map {
        height: 82%;
        width: 100%;
        position:absolute; 
        top:0; 
        bottom:0; 
    }

    .botonR{
        border-radius: 50%;
    }

    .fabButton{
        padding-bottom: 68%;
        position: absolute;
    }

    .segmentText{
        margin-top: 100%;
    }

    ion-fab[middle] {
        margin-top: 10px;
    }

    .firstLetter{
    	position: absolute;
    	font-size: 25px;
    	margin-top: 2.5% !important;
    	margin-bottom:0 !important;
    	margin-left: 20% !important;
        color:white;
        text-align: center;
    }

    img.recyclers{
		width: 40px;
		height: 40px;
		border-radius: 100%;
		border:0;
	}


}
