<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center showWhen="android,windows">
          <img src="assets/imgs/logo-header.png" height="25" class="logo-header"/>
    </ion-title>
    <ion-title text-center showWhen="ios">
        <img src="assets/imgs/logo-header.png" height="25" class="logo-header"/>
      </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text showWhen="ios">Cancelar</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <form [formGroup]="formGroup">
    <ion-label text-center style="margin-top: 5px; margin-bottom: 0px;"><span style="color: #6edb14;">Añadir un reciclador</span></ion-label>
    <ion-label text-center style="margin-bottom: 0px; margin-top: 0px;"><span class="formItems">Los campos con * son obligatorios.</span></ion-label>
    <ion-grid>
      <ion-row>
        <ion-col col-4>
            <div text-center>
                <div>
                  <img src="{{tmp_image || default_image}}" *ngIf="tmp_image != undefined" style=" border-radius:50%;" circle width="120" height="120">
                </div>
                <ion-fab center top *ngIf="tmp_image == undefined">
                    <button ion-fab outline style="background-color: #167b9b; width: 80px; height: 80px;" (click)="takePhoto()">
                      <ion-icon style="font-size: 400%;" ios="ios-camera" md="md-camera"></ion-icon>
                    </button>
                  </ion-fab>
              </div>
        </ion-col>
        <ion-col col-8>
            <ion-item>
                <ion-input type="text" [(ngModel)]="newRecycler.name" formControlName="name"  placeholder="* Nombre"></ion-input>
              </ion-item>
              <ion-label style="margin-bottom: 0px; margin-top: 0px;">
                <span *ngIf="name.hasError('required') && name.touched" class="validations"> * El nombre es requerido</span>
              </ion-label>
              <ion-item>
                <ion-input type="text" [(ngModel)]="newRecycler.lastName" formControlName="lastName"  placeholder="* Apellido"></ion-input>
              </ion-item>
              <ion-label style="margin-bottom: 0px; margin-top: 0px;">
                <span *ngIf="lastName.hasError('required') && lastName.touched" class="validations"> * El apellido es requerido</span>
              </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <ion-grid>
      <ion-row>
              <ion-col col-2>
                  <img src="assets/imgs/telefonoT.png" style="margin-left: 24%; width:45px; height:45px">
              </ion-col>
              <ion-col col-10>
                  <ion-input type="number" [(ngModel)]="newRecycler.phone" placeholder="Teléfono"></ion-input>
              </ion-col>
            </ion-row>
    </ion-grid>
  <form [formGroup]="formGroup">

    <ion-grid>
        <ion-row>
            <ion-col>
              <ion-item style=" padding-left: 2%; border-bottom: 1px solid green; border-top: 1px solid green;">
                <ion-label style="margin-top: 5px; margin-bottom: 0px;">
                  <span style="color: #6edb14;">* Materiales que recoge</span>
                </ion-label>
                <ion-label>

                  <span *ngIf="newRecycler.material.length == 0" class="validations" text-wrap> (Selecciona uno o varios materiales)</span>

                </ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
        <ion-row>
          <ion-col >
              <ion-list radio-group class="materialN">
                  <ion-item>
                    <ion-label style=" margin-right: 0px; "><img src="assets/imgs/papelT1.png" style="height:30px;"></ion-label>
                    <ion-checkbox (ionChange)="addMaterial($event.checked, 'Papel')" value="Papel"  class="papel"></ion-checkbox>
                  </ion-item>
                  <ion-item>
                      <ion-label><img src="assets/imgs/cartonT.png" style="height: 30px;"></ion-label>
                      <ion-checkbox (ionChange)="addMaterial($event.checked, 'Cartón')"  value="Cartón" class="carton" ></ion-checkbox>
                  </ion-item>
                  <ion-item>
                      <ion-label><img src="assets/imgs/plasticoT.png" style="height:15px"></ion-label>
                      <ion-checkbox (ionChange)="addMaterial($event.checked, 'Plástico')" value="Plástico" class="plastico"></ion-checkbox>
                    </ion-item>
                  <ion-item>
                    <ion-label style=" margin-right: 0px;"><img src="assets/imgs/vidrioT.png" style="height:18px" ></ion-label>
                    <ion-checkbox (ionChange)="addMaterial($event.checked, 'Vidrio')" value="Vidrio"  class="vidrio"></ion-checkbox>
                  </ion-item>

                  <ion-item>
                    <ion-label><img src="assets/imgs/metalT.png" style="height:25px" ></ion-label>
                    <ion-checkbox (ionChange)="addMaterial($event.checked, 'Metal')" value="Metal" class="metal"></ion-checkbox>
                  </ion-item>
                  <ion-item>
                    <ion-label><img src="assets/imgs/tetrapakT.png" style="height:20px" ></ion-label>
                    <ion-checkbox (ionChange)="addMaterial($event.checked, 'Tetrapack')" value="Tetrapack" class="tetrapack"></ion-checkbox>
                  </ion-item>
                </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>

    <ion-grid>
        <ion-row>
            <ion-col>
              <ion-item style=" padding-left: 2%; border-bottom: 1px solid green; border-top: 1px solid green;">
                <ion-label style="margin-top: 5px; margin-bottom: 0px;">
                  <span style="color: #6edb14;">* Días</span>
                  <span *ngIf="newRecycler.date.days.length == 0" class="validations"> (Debes seleccionar uno o varios días)</span>

                </ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
        <ion-row>
          <ion-col col-2>
              <img src="assets/imgs/diasRT.png" style="margin-left: 18%; width:45px; height:45px">
          </ion-col>
          <ion-col col-10>
              <ion-list radio-group class="daysN" >
                  <ion-item style=" padding-left: 0px;">
                    <ion-label>Lunes</ion-label>
                    <ion-checkbox value="Lunes" (ionChange)="addDays($event.checked, 'Lunes')" ></ion-checkbox>
                  </ion-item>
                  <ion-item style=" padding-left: 0px;">
                    <ion-label>Martes</ion-label>
                    <ion-checkbox value="Martes" (ionChange)="addDays($event.checked, 'Martes')"></ion-checkbox>
                  </ion-item>
                  <ion-item style=" padding-left: 0px;">
                    <ion-label>Miércoles</ion-label>
                    <ion-checkbox value="Miercoles" (ionChange)="addDays($event.checked, 'Miércoles')"></ion-checkbox>
                  </ion-item>
                  <ion-item style=" padding-left: 0px;">
                    <ion-label>Jueves</ion-label>
                    <ion-checkbox value="Jueves" (ionChange)="addDays($event.checked, 'Jueves')"></ion-checkbox>
                  </ion-item>
                  <ion-item style=" padding-left: 0px;">
                    <ion-label>Viernes</ion-label>
                    <ion-checkbox value="Viernes" (ionChange)="addDays($event.checked, 'Viernes')"></ion-checkbox>
                  </ion-item>
                  <ion-item style=" padding-left: 0px;">
                    <ion-label>Sábado</ion-label>
                    <ion-checkbox value="Sábado" (ionChange)="addDays($event.checked, 'Sábado')"></ion-checkbox>
                  </ion-item>
                  <ion-item style=" padding-left: 0px;">
                    <ion-label>Domingo</ion-label>
                    <ion-checkbox value="Domingo" (ionChange)="addDays($event.checked, 'Domingo')"></ion-checkbox>
                  </ion-item>
                </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>

    <ion-row >
      <ion-col col-2 text-center>
          <img src="assets/imgs/horaF.png" style="margin-left: 30%; width:45px; height:45px">
      </ion-col>
      <ion-col col-5>
        <ion-grid>
          <ion-row style="background-color: #167b9b; border-radius:32px">
            <ion-col col-10 style="padding: 0px 0px 0px 21px;">
                <ion-item style="padding-left: 0px; background-color: #167b9b">
                    <!--ion-label stacked>
                    </ion-label-->
                    <ion-datetime displayFormat="HH:mm" pickerFormat="HH mm" [(ngModel)]="newRecycler.date.startTime"
                                  formControlName="hourStart" placeholder="* Hora inicio" style="font-size: 12px; color: white; background-color: #167b9b; padding-left: 0px;"></ion-datetime>
                                  <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown"></ion-icon>
                  </ion-item>
            </ion-col>
            <ion-col col-2 style="padding-left: 0px;">
                <ion-icon text-right text-end end ios="ios-arrow-dropdown" md="md-arrow-dropdown" style="margin-top: 50%; "></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-label *ngIf="hourStart.hasError('required') && hourStart.touched"><p class="err validations">* Hora
          inicio requerida</p></ion-label>
      </ion-col>
      <ion-col col-5>
          <ion-grid>
              <ion-row style="background-color: #167b9b; border-radius:32px">
                <ion-col col-10 style="padding-right: 0px; padding-left: 21px; padding-top: 0px; padding-bottom: 0px;">
                    <ion-item style="padding-left: 0px; background-color: #167b9b;">
                        <!--ion-label stacked>
                        </ion-label-->
                        <ion-datetime displayFormat="HH:mm" pickerFormat="HH mm" [(ngModel)]="newRecycler.date.endTime"
                                      formControlName="hourEnd" placeholder="* Hora fin" style="font-size: 12px; color: white; background-color: #167b9b; padding-left: 0px;"></ion-datetime>
                      </ion-item>

                </ion-col>
                <ion-col col-2 style="padding-left: 0px;">
                    <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown" style=" margin-top: 50%;"></ion-icon>
                </ion-col>
              </ion-row>
          </ion-grid>
          <ion-label *ngIf="hourEnd.hasError('required') && hourEnd.touched"><p class="validations">* Hora fin
              requerida</p></ion-label>
      </ion-col>
      <span *ngIf="(hourStart.touched && !hourStart.valid) || (hourEnd.touched && !hourEnd.valid)" class="validations">La hora de inicio debe ser menor a la hora de fin</span>
    </ion-row>

    <!--ion-list style="margin-bottom: 0px;">
      <ion-item class="wp" >
        <ion-label >
          <span >* Género:</span>

          <span *ngIf="gender.hasError('required') && gender.touched"
                class="validations"> * El género es requerido</span>
        </ion-label>
        <ion-select [(ngModel)]="newRecycler.gender" formControlName="gender"
                    (ionChange)="tmpPhoto(); disableButton()" >
          <ion-option value="Mujer">Mujer</ion-option>
          <ion-option value="Hombre">Hombre</ion-option>
        </ion-select>
      </ion-item>
    </ion-list-->

      <ion-row>
              <ion-col col-2>
                  <img src="assets/imgs/edadT.png" style="margin-left: 30%; width:45px; height:45px">
              </ion-col>
              <ion-col col-10>
                  <ion-input type="number" [(ngModel)]="age" formControlName="birth" placeholder="* Edad"></ion-input>
                  <ion-label style="margin-top: 0px; margin-bottom: 0px;">
                      <span *ngIf="birth.hasError('required') && birth.touched" class="validations"> * La edad es requerida</span>
                    </ion-label>
              </ion-col>
            </ion-row>


  </form>

  <ion-grid>
      <ion-row>
              <ion-col col-2>
                  <img src="assets/imgs/reciFT.png" style="margin-left: 21%; width:45px; height:45px">
              </ion-col>
              <ion-col col-10>
                  <ion-input type="number" [(ngModel)]="recyclingFor" maxlength="2" placeholder="Años reciclando"></ion-input>
              </ion-col>
            </ion-row>
    </ion-grid>

    <ion-grid>
        <ion-row>
                <ion-col col-2>
                    <img src="assets/imgs/sueñoT.png" style="margin-left: 19%; width:45px; height:45px">
                </ion-col>
                <ion-col col-10>
                    <ion-input type="text" [(ngModel)]="newRecycler.dream" rows="3" maxlength="140" placeholder="¿Cuál es su sueño?                 140"></ion-input>
                </ion-col>
              </ion-row>
      </ion-grid>

      <!--ion-row>
        <ion-col col-2>
            <img src="assets/imgs/generoT.png" style="margin-left: 30%; width:45px; height:45px">
        </ion-col>
          <ion-col col-10 style="padding-left: 10px;">
              <ion-list class="genderN" radio-group class="materialN" >
                  <ion-item style=" padding-left: 0px;">
                    <ion-label style="
                    padding-right: 60px; font-size: 81%">Hombre</ion-label>
                    <ion-checkbox value="Hombre" (ionChange)="addGender($event.checked, 'Hombre')" ></ion-checkbox>
                  </ion-item>
                  <ion-item style=" padding-left: 0px;">
                    <ion-label style="
                    padding-right: 60px; font-size: 81%">Mujer</ion-label>
                    <ion-checkbox value="Mujer" (ionChange)="addGender($event.checked, 'Mujer')"></ion-checkbox>
                  </ion-item>
                  <ion-item style=" padding-left: 0px;">
                    <ion-label style="
                    padding-right: 60px; font-size: 81%">Otro</ion-label>
                    <ion-checkbox value="Otro" (ionChange)="addGender($event.checked, 'Otro')"></ion-checkbox>
                  </ion-item>
                </ion-list>
          </ion-col>
      </ion-row-->
    <form [formGroup]="formGroup">
      <ion-row>
        <ion-col col-2>
            <img src="assets/imgs/generoT.png" style="height:45px; margin-left: 30%;">
        </ion-col>
        <ion-col col-10>
          <ion-list class="genderN" radio-group [(ngModel)]="newRecycler.gender" formControlName="gender">
              <ion-item>
                <ion-radio item-left value="Hombre"></ion-radio>
                <ion-label>Hombre</ion-label>
              </ion-item>
              <ion-item>
                  <ion-radio item-left value="Mujer"></ion-radio>
                  <ion-label>Mujer</ion-label>
                </ion-item>
              <ion-item style="margin-left: -20px;">
                <ion-radio item-left value="Otro"></ion-radio>
                <ion-label>Otro</ion-label>
              </ion-item>
            </ion-list>
        </ion-col>
      </ion-row>

      <!--ion-label class="styleErrorGener" >
        <span *ngIf="gender.hasError('required') && gender.touched"
              class="validations"> * El género es requerido</span>
      </ion-label-->
    </form>

  <ion-item >
    <ion-label style="border-top: 1px solid green; padding-top: 8%; padding-bottom: 5%;" >
      <span style="color: #6edb14;">Ubicación (El centro de su ruta habitual)</span>
    </ion-label>
  </ion-item>

  <!--agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [zoomControl]="false" [streetViewControl]="false"
           (mapClick)="getRecyclerLocation($event)">
    <agm-marker [latitude]="lat_" [longitude]="lng_"></agm-marker>
  </agm-map-->

  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [zoomControl]="false" [streetViewControl]="false"
           (mapClick)="getRecyclerLocation($event)">
    <agm-marker [latitude]="lat_" [longitude]="lng_"></agm-marker>
  </agm-map>

  <ion-item style="margin-top: 85%;">
  <div text-center>
    <button ion-button round class="bg-boton" [disabled]="!formGroup.valid || this.lat_ === undefined || this.lng_ === undefined || this.saving || newRecycler.date.days.length == 0 || newRecycler.material.length == 0 "
            (click)="recyclerRegister();" style="padding-top: 5%; padding-bottom: 5%; font-size: 95%; padding-left: 10%; padding-right: 10%;" >
      <ion-spinner [hidden]="!this.saving"></ion-spinner>
      {{this.saving ? 'Guardando' : 'Guardar'}}
    </button>
  </div>
</ion-item>

</ion-content>




