page-recycler-form {
	agm-map {
        height: 300px;
        width: 100%;
        position:absolute; 
    }

    .formItems{
    	font-size: 10px;
    	color: gray;
    }

    .validations{
    	font-size: 10px;
    	color: red;	
    }
}
