page-tour {
    .swiper-pagination-progress .swiper-pagination-progressbar {
        background: #2f9b75;
    }
    .toolbar-ios ion-title {
        padding: 0;
    }

    .tourTwo{
        font-size: 1.5rem;
    }
    .tourThree{
        font-size: 1.5rem;
    }
}
