page-tour2 {
    #hand{
        font-size: 7rem;
    }
    .content-ios{
        background: #64d423 !important;
        color: white;
    }
    .toolbar-title-ios {
        font-size: 1.9rem;
    }

    .content-md{
        background: #64d423 !important;
        color: white;
    }
    .toolbar-title-md {
        font-size: 1.9rem;
    }
}
