page-tour4 {
    .content-ios{
        background: #f0575f !important;
        color: white;
    }
    .toolbar-title-ios {
        font-size: 1.9rem;
    }

    .content-md{
        background: #f0575f  !important;
        color: white;
    }
    .toolbar-title-md {
        font-size: 1.9rem;
    }
}
