page-tour3 {
    p{
        font-weight: lighter;
    }
    .content-ios{
        background: #8940c5 !important;
        color: white;
    }
    .toolbar-title-ios {
        font-size: 1.9rem;
    }

    .content-md{
        background: #8940c5  !important;
        color: white;
    }
    .toolbar-title-md {
        font-size: 1.9rem;
    }
}
