<ion-content padding>
  <!--SECTION PHOTO-->
  <div class="bg-photo">
    <!--Back button-->

    <button style="z-index: 10" ngClass="delivery-back-button" ion-button icon-only icon-start clear (click)="cancelDelivery()">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
    <!--Photo-->
    <div *ngIf="tmpPhoto=='assets/imgs/transparent.png'; else photo">
      <!--Transparent Photo-->
      <div>
        <img class="photoMaterial" [hidden]="tmpPhoto == 'assets/imgs/transparent.png'" src="{{tmpPhoto}}">
      </div>
      <!--Camera button-->
      <div class="camera-btn">
        <button style="background-color: transparent !important; box-shadow: none" (click)="takePhoto()">
          <img src="assets/imgs/camera.png" class="camera-img">
        </button>
      </div>
      <!--Message suggestion-->
      <span class="message-Photo">Toma una foto de tu bolsa junto con el reciclador</span>
    </div>
    <!--Photo else-->
    <ng-template #photo>
      <!--Photo material-->
      <div>
        <img class="photoMaterial" [hidden]="tmpPhoto == 'assets/imgs/transparent.png'" src="{{tmpPhoto}}">
      </div>
      <!--Camera button-->

      <!--div class="camera-btn">
        <button style="background-color: transparent !important; box-shadow: none" (click)="takePhoto()">
          <img src="assets/imgs/camera.png" class="camera-img">
        </button>
      </div-->
    </ng-template>
  </div>
  <!--FAVORITES RECYCLER SECTION-->
  <!--AUTH-->
  <div *ngIf="isAuthenticated; else needLoggin" style="padding-top: 2%;">
    <!--FAVORITES RECYCLER LIST-->
    <div *ngIf="!hideFavorites; else selectFavorite">
      <!--Infinity Scroll-->
      <ion-scroll class="recycler-list" scrollX="true" [hidden]="hideFavorites">
        <ul>
          <!--Agregar-->
          <!--li text-center (tap)="addRecycler()">
                        <ion-avatar >
                            <img class="recyclers" src="assets/imgs/add-user.png" >
                        </ion-avatar>
                        <p text-center class="recyclersNames">Agregar</p>
                    </li-->
          <!--FAVORITES RECYCLERS DATA-->
          <li *ngFor="let recycler$ of recyclers | async;" style="margin-right: 5%;">
						<span *ngIf="recycler$ | async as recycler;" (tap)="selectRecycler(recycler.id)">
              <!--SHOW LETTER/PHOTO-->
							<span *ngIf="recycler.image!=undefined; else firstLetter">
                <!--PHOTO RECYCLER-->
								<ion-avatar>
                	<img class="recyclers" src="{{recycler.image}}" id="{{recycler.id}}">
                </ion-avatar>
							</span>
							<ng-template #firstLetter>
                <!--FIRST LETTER RECYCLER-->
								<ion-avatar>
									<span text-center>
										<p class="firstLetter">{{recycler.name.charAt(0).toUpperCase()}}</p>
										<img class="recyclers imgfirstLetter" style="background-color: #afba35" id="{{recycler.id}}">
									</span>
                </ion-avatar>
							</ng-template>
              <!--RECYCLER NAME-->
			        <p block text-wrap class="recyclersNames">{{recycler.name}}</p>
			      </span>
          </li>
          <!--RECYCLER AROUND BY-->
          <!--ANONYMOUS RECYCLER-->
          <li text-center (tap)="selectRecycler('Anónimo')">
            <ion-avatar>
              <img class="recyclers" src="assets/imgs/menos.png" id="anonymousRecycler" style="background-color: #005c80">
            </ion-avatar>
            <p text-center class="recyclersNames">Anónimo</p>
          </li>
        </ul>
      </ion-scroll>
    </div>
    <!--SHOW SELECT RECYCLER ELSE-->
    <ng-template #selectFavorite>
      <ion-item no-lines style="background: transparent; height: 58px;" (tap)="showFavorites()">
        <!--Show Anonymous recycler selected-->
        <span *ngIf="tmp_selRecycler!=null; else selectFavoriteRecycler">
					<ion-row>
            <!--ANONIMOUS RECYCLER PHOTO-->
						<ion-col col-2>
							<img class="recyclers" style="background: #005c80" src="{{tmpRecyclerImage}}">
						</ion-col>
            <!--ANONIMOUS NAME RECYCLER-->
						<ion-col>
							<h2 style="margin-top: 4.5% !important; color: white">Anónimo</h2>
						</ion-col>
					</ion-row>
          <!--CLOSE BUTTOM-->
					<ion-fab middle right class="btn-position">
				        <button ion-fab mini color="danger" class="btn-mini">
							<ion-icon ios="ios-close" md="md-close"></ion-icon>
						</button>
				    </ion-fab>
				</span>
        <!--Show a recycler selected-->
        <ng-template #selectFavoriteRecycler>
          <ion-row style="height: 58px;">
            <ion-col col-2>
              <!--SHOW PHOTO/LETTER RECYCLER-->
              <!--RECYCLER PHOTO-->
              <span *ngIf="tmpRecyclerImage != undefined; else firstLetterRecycler">
								<img class="recyclers" src="{{tmpRecyclerImage}}">
							</span>
              <!--FIRST NAME RECYCLER-->
              <ng-template #firstLetterRecycler>
								<span text-center>
									<p class="firstLetter1">{{tmpRecyclerFirstLetterName}}</p>
									<img class="recyclers" style="background-color: #afba35">
								</span>
              </ng-template>
            </ion-col>
            <!--NAME RECYCLER-->
            <ion-col>
              <h2 style="margin-top: 4.5% !important; color: white">{{tmpRecyclerName}}  {{tmpRecyclerLastName}}</h2>
            </ion-col>
          </ion-row>
          <!--CLOSE BUTTOM-->
          <ion-fab middle right class="btn-position">
            <button ion-fab mini color="danger" class="btn-mini">
              <ion-icon ios="ios-close" md="md-close"></ion-icon>
            </button>
          </ion-fab>
        </ng-template>
      </ion-item>
    </ng-template>
  </div>
  <!--Validations auth user-->
  <ng-template #needLoggin>
    <p text-center style="color: red;" class="title">Necesitas <b> <!--(tap)="goToLogin()"-->Iniciar Sesión</b> para ver
      tus recicladores favoritos.</p>
  </ng-template>

  <!--DELIVERY FORM-->
  <div>
    <!--SLEEVE PLASTIC SECTION-->
    <ion-row>
      <ion-col col-4 text-center><p class="title-small2">Cantidad estimada</p></ion-col>
      <ion-col col-7>
        <ion-row style="margin-bottom: 5%;">
          <!--IMAGE SLEEVE PLASTIC-->
          <ion-col col>
            <ion-label class="labels">
              <span class="funda-p" ><img src="assets/imgs/funda_p.png" width="28" height="26" title="pequeña"/></span>
              <span class="funda-m" ><img src="assets/imgs/funda_m.png" width="28" height="26" title="media"/></span>
              <span class="funda-g" ><img src="assets/imgs/funda_g.png" width="28" height="26" title="grande"/></span>
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <!--RANGE SLEEVE PLASTIC-->
          <ion-col col>
            <ion-range pin="false" snaps="true" min="0" max="3" step="1" color="secondary" [(ngModel)]="fundaCtrl" #ctrl="ngModel" (ionChange)="validation()">
            </ion-range>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <!--MATERIAL DELIVERY PORCENT SECTION-->
    <ion-row>
      <ion-col>
        <ion-label class="labels">
          <span style="margin-left: 32%; margin-top: 0;margin-bottom: -5px;"><img src="assets/imgs/circle_0.png" width="10" height="10"/></span>

          <span *ngIf="totalMaterialRecyclable>0 && totalMaterialRecyclable==10; else sectionTotalMaterial10"
                class="title-small1 validations">10%</span>
          <ng-template #sectionTotalMaterial10>
            <span class="title-small1">10</span>
          </ng-template>

          <span *ngIf="totalMaterialRecyclable>0 && totalMaterialRecyclable==20; else sectionTotalMaterial20"
                class="title-small1 validations">20%</span>
          <ng-template #sectionTotalMaterial20>
            <span class="title-small1">20</span>
          </ng-template>

          <span *ngIf="totalMaterialRecyclable>0 && totalMaterialRecyclable==30; else sectionTotalMaterial30"
                class="title-small1 validations">30%</span>
          <ng-template #sectionTotalMaterial30>
            <span class="title-small1">30</span>
          </ng-template>

          <span *ngIf="totalMaterialRecyclable>0 && totalMaterialRecyclable==40; else sectionTotalMaterial40"
                class="title-small1 validations">40%</span>
          <ng-template #sectionTotalMaterial40>
            <span class="title-small1">40</span>
          </ng-template>

          <span *ngIf="totalMaterialRecyclable>0 && totalMaterialRecyclable==50; else sectionTotalMaterial50"
                class="title-small1 validations"><img src="assets/imgs/circle_50.png" width="10" height="10"/></span>
          <ng-template #sectionTotalMaterial50>
            <span class="title-small1"><img style="margin-top: 5px;" src="assets/imgs/circle_0.png" width="10" height="10"/></span>
          </ng-template>
          <!--span class="title-small1 validations"><img style="margin-top: 5px;" src="assets/imgs/circle_50.png" width="8" height="8"/></span-->

          <span *ngIf="totalMaterialRecyclable>0 && totalMaterialRecyclable==60; else sectionTotalMaterial60"
                class="title-small1 validations">60%</span>
          <ng-template #sectionTotalMaterial60>
            <span class="title-small1">60</span>
          </ng-template>

          <span *ngIf="totalMaterialRecyclable>0 && totalMaterialRecyclable==70; else sectionTotalMaterial70"
                class="title-small1 validations">70%</span>
          <ng-template #sectionTotalMaterial70>
            <span class="title-small1">70</span>
          </ng-template>

          <span *ngIf="totalMaterialRecyclable>0 && totalMaterialRecyclable==80; else sectionTotalMaterial80"
                class="title-small1 validations">80%</span>
          <ng-template #sectionTotalMaterial80>
            <span class="title-small1">80</span>
          </ng-template>

          <span *ngIf="totalMaterialRecyclable>0 && totalMaterialRecyclable==90; else sectionTotalMaterial90"
                class="title-small1 validations">90%</span>
          <ng-template #sectionTotalMaterial90>
            <span class="title-small1">90</span>
          </ng-template>

          <span *ngIf="totalMaterialRecyclable>0 && totalMaterialRecyclable==100; else sectionTotalMaterial100"
                class="title-small1 validations"><img style="margin-top: 5px;" src="assets/imgs/circle_100.png" width="10" height="10"/></span>
          <ng-template #sectionTotalMaterial100>
            <span class="title-small1"><img style="margin-top: 5px;" src="assets/imgs/circle_0.png" width="10" height="10"/></span>
          </ng-template>
          <!--span class="title-small1 validations"><img style="margin-top: 5px;" src="assets/imgs/circle_100.png" width="8" height="8"/></span-->
        </ion-label>
      </ion-col>
    </ion-row>

    <!--Delivery items-->
    <ion-row>
      <ion-col col-4>
        <ion-label class="title">Plástico <span *ngIf="plasticoCtrl!=0 && plasticoCtrl!=undefined"
                                                class="title-small1 validations">({{plasticoCtrl}}%)</span></ion-label>
        <ion-label class="title material">Papel <span *ngIf="papelCtrl!=0 && papelCtrl!=undefined"
                                                      class="title-small1 validations">({{papelCtrl}}%)</span>
        </ion-label>
        <ion-label class="title material">Cartón <span *ngIf="cartonCtrl!=0 && cartonCtrl!=undefined"
                                                       class="title-small1 validations">({{cartonCtrl}}%)</span>
        </ion-label>
        <ion-label class="title material">Metal <span *ngIf="chatarraCtrl!=0 && chatarraCtrl!=undefined"
                                                      class="title-small1 validations">({{chatarraCtrl}}%)</span>
        </ion-label>
        <ion-label class="title material">Vidrio <span *ngIf="vidrioCtrl!=0 && vidrioCtrl!=undefined"
                                                       class="title-small1 validations">({{vidrioCtrl}}%)</span>
        </ion-label>
        <ion-label class="title material">Tetrapak <span *ngIf="compuestoCtrl!=0 && compuestoCtrl!=undefined"
                                                         class="title-small1 validations">({{compuestoCtrl}}%)</span>
        </ion-label>
      </ion-col>
      <!--Range material-->
      <ion-col col-7>
        <ion-range pin="true" snaps="true" min="0" max="100" step="10" color="yellow" [(ngModel)]="plasticoCtrl"

                   #ctrl="ngModel" (ionChange)="totalMaterial(plasticoCtrl,'plastico'); validation()">
        </ion-range>
        <ion-range pin="true" snaps="true" min="0" max="100" step="10" color="orange" [(ngModel)]="papelCtrl"
                   #ctrl="ngModel" (ionChange)="totalMaterial(papelCtrl,'papel'); validation()">
        </ion-range>
        <ion-range pin="true" snaps="true" min="0" max="100" step="10" color="green" [(ngModel)]="cartonCtrl"
                   #ctrl="ngModel" (ionChange)="totalMaterial(cartonCtrl,'carton'); validation()">
        </ion-range>
        <ion-range pin="true" snaps="true" min="0" max="100" step="10" color="lightBlue" [(ngModel)]="chatarraCtrl"
                   #ctrl="ngModel" (ionChange)="totalMaterial(chatarraCtrl,'chatarra'); validation()">
        </ion-range>
        <ion-range pin="true" snaps="true" min="0" max="100" step="10" color="lightBluePri" [(ngModel)]="vidrioCtrl"
                   #ctrl="ngModel" (ionChange)="totalMaterial(vidrioCtrl,'vidrio'); validation()">
        </ion-range>
        <ion-range pin="true" snaps="true" min="0" max="100" step="10" color="purple" [(ngModel)]="compuestoCtrl"
                   #ctrl="ngModel" (ionChange)="totalMaterial(compuestoCtrl,'compuesto'); validation()">
        </ion-range>
      </ion-col>
    </ion-row>
  </div>
  <!--Buttom delivery-->
  <div text-center>
    <div *ngIf="disabledBtnDelivery; else enabledBtn">
      <!--button ion-button large outline class="roundBtn" style="background-color:#39b54a;color: white "> Enviar <span
        style="width: 25px; height: 25px; margin-left: 5% !important;"></span>
      </button-->
      <!--VALIDATIONS-->
      <!--PHOTO Validations-->
      <div text-center>
        <span *ngIf="!error" class="validations"> *Toma una foto para validar la información.</span>
      </div>
      <!--RECYCLER Validations-->
      <div text-center>
        <span *ngIf="!errorRecycler && error" class="validations"> *Selecciona a tu <b>Reciclador favorito, Cercano o Anónimo</b> que deseas entregar.</span>
      </div>
      <!--SLEEVE PLASTIC Validations-->
      <div text-center>
        <span *ngIf="!errorSize && error && errorRecycler" class="validations"> *Selecciona un tamaño de Funda.</span>
      </div>
      <!--MATERIAL RANGE Validations-->
      <div text-center>
        <span *ngIf="(totalMaterialRecyclable)==100" class="title-small" style="color: green">La funda ya esta llena</span>
        <span *ngIf="(_totalMaterialRecyclable)>100" class="title-small validations">(No puedes entregar más de su capacidad.)</span>
        <span *ngIf="(_totalMaterialRecyclable)>100 && errTotalMaterialRecyclable" class="title-small1 validations">Reduce los porcentajes en el formulario y verifica que no sobrepase el 100% de la funda.</span>
        <span *ngIf="!errorForm && error && errorRecycler && errorSize" class="validations"> *Identifica la cantidad de cada material que vas a entregar.</span>
      </div>
    </div>
    <ng-template #enabledBtn>
      <button [disabled]="disabledBtn" (click)="delivery()" ion-button large outline class="roundBtn bg-boton" style="color: white "> Enviar
        <span style="width: 25px; height: 25px; margin-left: 5% !important; margin-top: -20px"><ion-icon
          ios="ios-checkmark-circle-outline" md="md-checkmark-circle-outline" color="ligth"></ion-icon></span>
      </button>
    </ng-template>
    <!--button ion-button large outline class="roundBtn" style="background-color: #39b54a;color: white ">
      Enviar  <span style="width: 25px; height: 25px; margin-left: 5% !important;"><ion-icon ios="ios-checkmark-circle-outline" md="md-checkmark-circle-outline" color="ligth"></ion-icon></span>
    </button-->

  </div>

  <ion-tabs style="display: none"></ion-tabs>
</ion-content>
